<!--Юрій-->
<footer class="page-footer">
  <div class="container footer-content">
    <div class="footer-logo">
      <a href="./index.html">
        <img
          src="/img/logo.svg"
          width="272"
          alt="EcoTote-Повернення на головну"
        />
      </a>
    </div>
    <div class="footer-column">
      <nav class="footer-nav" aria-label="Меню сайту">
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#about" class="nav-link">Про нас</a>
          </li>
          <li class="footer-item">
            <a href="#advantages" class="nav-link">Переваги</a>
          </li>
          <li class="footer-item">
            <a href="#assortment" class="nav-link">Асортимент</a>
          </li>
          <li class="footer-item">
            <a href="#gallery" class="nav-link">Галерея</a>
          </li>
          <li class="footer-item">
            <a href="#feedbacks" class="nav-link">Відгуки</a>
          </li>
          <li class="footer-item">
            <a href="#support" class="nav-link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="menu-icons">
      <ul class="icons-list">
        <li class="icons-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icons-list-link"
            aria-label="Instagram"
          >
            <svg class="icons-svg">
              <use href="/img/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="icons-item">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="icons-list-link"
            aria-label="Linkedin"
          >
            <svg class="icons-svg">
              <use href="/img/svg/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="icons-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="icons-list-link youtube"
            aria-label="YouTube"
          >
            <svg class="icons-svg">
              <use href="/img/svg/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-divider"></div>
  <div>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
      </ul>
    </address>
    <p class="footer-copyright">&copy; 2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
