<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item gallery-item--1">
        <picture class="gallery-item-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/eco-tote-t.jpg    1x,
              /img/gallery/eco-tote-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/eco-tote-d.jpg    1x,
              /img/gallery/eco-tote-d@2x.jpg 2x
            "
          />
          <img
            class="list-photo photo--eco-tote"
            src="/img/eco-tote-mobile.jpg"
            srcset="
              /img/gallery/eco-tote-m.jpg    1x,
              /img/gallery/eco-tote-m@2x.jpg 2x
            "
            alt="Екологічна EcoTotes"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-item--2">
        <picture class="gallery-item-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/city-scene-t.jpg    1x,
              /img/gallery/city-scene-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/city-scene-d.jpg    1x,
              /img/gallery/city-scene-d@2x.jpg 2x
            "
          />
          <img
            class="list-photo photo--city-scene"
            src="/img/city-scene-mobile.jpg"
            srcset="
              /img/gallery/city-scene-m.jpg    1x,
              /img/gallery/city-scene-m@2x.jpg 2x
            "
            alt="city-scene"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-item--3">
        <picture class="gallery-item-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/walker-t.jpg    1x,
              /img/gallery/walker-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/walker-d.jpg    1x,
              /img/gallery/walker-d@2x.jpg 2x
            "
          />
          <img
            class="list-photo photo--walker"
            src="/img/walker-mobile.jpg"
            srcset="
              /img/gallery/walker-m.jpg    1x,
              /img/gallery/walker-m@2x.jpg 2x
            "
            alt="walker with EcoTotes"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-item--4">
        <picture class="gallery-item-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/young-woman-t.jpg    1x,
              /img/gallery/young-woman-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/young-woman-d.jpg    1x,
              /img/gallery/young-woman-d@2x.jpg 2x
            "
          />
          <img
            class="list-photo photo--young-woman"
            src="/img/young-woman-mobile.jpg"
            srcset="
              /img/gallery/young-woman-m.jpg    1x,
              /img/gallery/young-woman-m@2x.jpg 2x
            "
            alt="young-woman with EcoTotes"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
