<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture class="gallery-item-picture">
          <source media="(min-width: 768px)" srcset="
              ../img/eco-tote-tablet.jpg    1x,
              ../img/eco-tote-tablet@x2.jpg 2x
            " />
          <source media="(min-width: 1440px)" srcset="
              ../img/eco-tote-desktop.jpg    1x,
              ../img/eco-tote-desktop@x2.jpg 2x
            " />
          <img src="../img/eco-tote-mobile.jpg" srcset="
              ../img/eco-tote-mobile.jpg    1x,
              ../img/eco-tote-mobile@x2.jpg 2x
            " width="288" height="288" alt="Екологічна сумка EcoTotes" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-item-picture">
          <source media="(min-width: 768px)" srcset="
              ../img/city-scene-tablet.jpg    1x,
              ../img/city-scene-tablet@x2.jpg 2x
            " />
          <source media="(min-width: 1440px)" srcset="
              ../img/city-scene-desktop.jpg    1x,
              ../img/city-scene-desktop@x2.jpg 2x
            " />
          <img src="../img/city-scene-mobile.jpg" srcset="
              ../img/city-scene-mobile.jpg    1x,
              ../img/city-scene-mobile@x2.jpg 2x
            " width="288" height="288" alt="city-scene" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-item-picture">
          <source media="(min-width: 768px)" srcset="../img/walker-tablet.jpg 1x, ../img/walker-tablet@x2.jpg 2x" />
          <source media="(min-width: 1440px)" srcset="
              ../img/walker-desktop.jpg    1x,
              ../img/walker-desktop@x2.jpg 2x
            " />
          <img src="../img/walker-mobile.jpg" srcset="../img/walker-mobile.jpg 1x, ../img/walker-mobile@x2.jpg 2x"
            width="288" height="288" alt="walker with EcoTotes bag" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-item-picture">
          <source media="(min-width: 768px)" srcset="
              ../img/young-woman-tablet.jpg    1x,
              ../img/young-woman-tablet@x2.jpg 2x
            " />
          <source media="(min-width: 1440px)" srcset="
              ../img/young-woman-desktop.jpg    1x,
              ../img/young-woman-desktop@x2.jpg 2x
            " />
          <img src="../img/young-woman-mobile.jpg" srcset="
              ../img/young-woman-mobile.jpg    1x,
              ../img/young-woman-mobile@x2.jpg 2x
            " width="288" height="288" alt="young-woman with EcoTotes bag" />
        </picture>
      </li>
    </ul>
  </div>
</section>