<!--Юлія-->
<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/index.html" class="logo-link">
        <img src="/img/logo.svg" width="80" height="30" />
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#">Про нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Переваги</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Асортимент</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Галерея</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Відгуки</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакти</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contants-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts-item">
          <a class="contants-link" href="#" type="emailto:" hello@ecotote.com
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button type="submit" class="burger-btn hidden" data-menu-open>
      <svg class="burger-icon" width="16" height="12">
        <use href="/img/svg/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu is-open" data-menu>
    <div class="container mobile-menu-container">
      <div class="mob-logo">
        <a href="#" class="logo-link">
          <img src="/img/logo.svg" width="80" height="30" />
        </a>
      </div>
      <div class="mob-btn">
        <button class="mobile-menu-close" type="button" data-menu-close>
          <svg class="mobile-menu-svg" width="15" height="15">
            <use href="./img/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-item">
            <a href="#" class="mobile-nav-link current">Про нас</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" class="mobile-nav-link">Переваги</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" class="mobile-nav-link">Асортимент</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" class="mobile-nav-link current">Галерея</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" class="mobile-nav-link">Відгуки</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" class="mobile-nav-link">Контакти</a>
          </li>
        </ul>
      </nav>
      <address class="mobile-address">
        <ul class="mobile-address-list">
          <li class="mobile-address-item">
            <a
              href="tel:+380999091122"
              class="mobile-address-link mobile-contact-link"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="mobile-address-item">
            <a href="mailto:hello@ecotote.com" class="mobile-address-link"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
