<!--Анна-->
<section class="reviews" id="">
  <div class="container">
    <h1 class="reviews-titel">Що говорять наші клієнти</h1>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-list-item-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="reviews-list-item-name">Aнна</p>
      </li>
      <li class="reviews-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-list-item-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="reviews-list-item-name">Ігор</p>
      </li>
      <li class="reviews-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-list-item-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="reviews-list-item-name">Олена</p>
      </li>
      <li class="reviews-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-list-item-icon" width="24" height="24">
              <use href="../img/svg/icons.svg#icon-rating-star-2"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-list-item-text">
          Швидка доставка та гарне обслуговування.
        </p>
        <p class="reviews-list-item-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>
