<!--Володимир-->
<section class="support-section" id="support">
  <div class="container">
    <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
    <h3 class="support-subtitle">Ми тут, щоб допомогти!</h3>

    <form class="support-form">
      <div class="form-group">
        <label class="form-label" for="name">Ім'я</label>
        <input
          class="input input-name"
          id="name"
          type="text"
          name="name"
          placeholder="Іван"
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="email">Електронна пошта</label>
        <input
          class="input input-email"
          id="email"
          type="email"
          name="email"
          placeholder="hello@ecotote.com"
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="message">Повідомлення</label>
        <textarea
          class="input input-message"
          id="message"
          name="message"
          placeholder="Введіть своє повідомлення..."
        ></textarea>
      </div>
      <button class="btn btn-submit" type="submit">Ніслати</button>
    </form>

    <div class="support-img"></div>
  </div>
</section>
