.about-container {
    background-image: url(/img/about/about-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 100%px;
    height: 348px;
 
}
@media (min-width: 0px) and (min-resolution: 192dpi) {
     .about-container {
        background-image: url(/img/about/about-mob-2x.jpg);
    }
}

.about-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    padding-top: 64px;
}

.about-subtitle {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    margin-top: 12px;
}

.about-text {    
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    max-width: 288px;
    margin: 0 auto;
    padding-top: 20px;
    
}

@media screen and (min-width: 768px) {
    .about-container {
        background-image: url(/img/about/about-tab-1x.jpg);
        width: 100%px;
        height: 325px;
        margin: 0 auto;
    }
     .about-title {
        padding-top: 80px;
    }
}
@media screen and (min-width: 768px) {
        .about-text {
        font-size: 18px;
        max-width: 573px;
        margin: 0 auto;
        margin-top: 12px;
    }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
    .about-container {
        background-image: url(/img/about/about-tab-2x.jpg);
    }
}


@media screen and (min-width: 1440px) {
     .about-container {
        background-image: url(/img/about/about-desk-1x.jpg);
        width: 100%;
        height: 462px;
        margin: 0 auto;
        
     }     
}
@media (min-width: 1440px) and (min-resolution: 192dpi) {
    .about-container {
        background-image: url(/img/about/about-desk-2x.jpg);
    }
}
@media screen and (min-width: 1440px) {
        .about-subtitle {
        font-size: 56px;
        max-width: 629px;
        margin: 0 auto;
    }

}
@media screen and (min-width: 1440px) {
    .about-title {
        padding-top: 112px;
    }
}
@media screen and (min-width: 1440px) {
        .about-text {
        font-size: 18px;
        max-width: 573px;
        margin-top: 12px;
    }
}