.about-container {
    background-image: url(../img/about/about-mob-1x.jpg);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
@media (min-resolution: 192dpi) {
     .about-container {
        background-image: url(../img/about/about-mob-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .about-container {
        background-image: url(../img/about/about-tab-1x.jpg);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);  

    }
}
@media (min-resolution: 192dpi) {
    .about-container {
        background-image: url(../img/about/about-tab-2x.jpg);
    }
}

@media screen and (min-width: 1440px) {
    .about-container {
        background-image: url(../img/about/about-desk-1x.jpg);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}
@media (min-resolution: 192dpi) {
    .about-container {
        background-image: url(../img/about/about-desk-2x.jpg);
    }
}

.about-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}



.about-subtitle {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff
}



.about-text {    
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}