.about-container {
    background-image: url(../img/about/about-desk-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    display: flex;
}

@media (min-resolution: 192dpi) {
    .about-container{
        background-image: url(../img/about/about-desk-2x.jpg);
    }
}

@media screen and (min-width: 320px) {
    .about-container {
        background-image: url(../img/about/about-mob-1x.jpg);
    }
    
}
@media (min-resolution: 192dpi) {
    .about-container {
        background-image: url(../img/about/about-mob-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .about-container {
        background-image: url(../img/about/about-tab-1x.jpg);
    }
}
@media (mim-resolution: 192dpi) {
    .about-container {
        background-image: url(../img/about/about-tab-2x.jpg);
    }
}