.section-advantages {
    padding: 32px 0;
}

.container-advantages {
    max-width: 320px;
    align-items: center;
    margin: 0 auto;
}

.subtitle {
    font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #030a06;
        max-width: 72px;
        margin-bottom: 0;

}

.title-advantages {
font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    align-items: center;
    margin-bottom: 12px;
    max-width: 288px;
    flex-wrap: wrap;
}

.advantages-text {
    font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
        align-items: center;
        margin-bottom: 20px;
}

.list-section-advantages {
    justify-content: center;
    width: 288px;
}