.section-advantages {
    padding: 32px 0;
    text-align: center;
    background: #ebf8ed;
}

.container-advantages {
    width: 100%;
    margin: 0 auto;
}

.subtitle {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030a06;
    margin-bottom: 12px;
}

.title-advantages {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    align-items: center;
    margin-bottom: 20px;
}

.advantages-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    margin-bottom: 48px;
}

.list-section-advantages {
    padding: 0;
    margin: 0;
}

.list-advantages-item {
    gap: 48px;
}

.advantages-picture {
    display: block;
    border-radius: 32px;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.subtitle-advantages {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 8px;
}

.subtitle-advantages-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}