.section-advantages {
    padding: 32px 0;
    background: #ebf8ed;
}

@media screen and (min-width: 768px) {
<<<<<<< HEAD
.section-advantages {
    padding: 64px 0;
}
=======
    .section-advantages {
        padding: 64px 0;
    }
>>>>>>> main
}

.container-advantages {
    max-width: 320px;
    margin: 0 auto;
<<<<<<< HEAD
    width:100%;
=======
    width: 100%;
>>>>>>> main
}

@media screen and (min-width: 768px) {
    .container-advantages {
<<<<<<< HEAD
     max-width: 704px;
=======
        max-width: 704px;
>>>>>>> main

    }
}

@media screen and (min-width: 1440px) {
    .container-advantages {
        max-width: 1440px;
    }
}

.subtitle {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030a06;
<<<<<<< HEAD
    margin-bottom: 12px;   
=======
    margin-bottom: 12px;
>>>>>>> main
}

@media screen and (min-width: 768px) {
    .subtitle {
        margin-bottom: 16px;
    }
}

.title-advantages {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 20px;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .title-advantages {
        margin-bottom: 24px;
        max-width: 704px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .title-advantages {
        max-width: 768px;
        font-size: 48px;
    }
}

.advantages-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    margin-bottom: 48px;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .advantages-text {
        font-size: 18px;
        max-width: 704px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .advantages-text {
        margin-bottom: 80px;
        max-width: 768;
    }
}

.list-section-advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
<<<<<<< HEAD
.list-section-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
}
=======
    .list-section-advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
>>>>>>> main
}

@media screen and (min-width: 1440px) {
    .list-section-advantages {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

.list-advantages-item {
    display: block;
    max-width: 288px;
    text-align: center;
}

@media screen and (min-width: 768px) {
<<<<<<< HEAD
.list-advantages-item:nth-child(3) {
 grid-column: 1 / 3;
}

.list-advantages-item {
    display: block;
    max-width: 100%;
}
}

@media screen and (min-width: 1440px) {
.list-advantages-item {
    width: calc((100% - 48px) / 3);
}
=======
    .list-advantages-item:nth-child(3) {
        grid-column: 1 / 3;
    }

    .list-advantages-item {
        display: block;
        max-width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .list-advantages-item {
        width: calc((100% - 48px) / 3);
    }
>>>>>>> main
}

.advantages-picture {
    display: block;
    border-radius: 32px;
    max-width: 100%;
    margin-bottom: 8px;
    height: auto;
    object-fit: cover;
    width: 288px;
    height: 198px;
}

@media screen and (min-width: 768px) {
    .advantages-picture {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 32px;
<<<<<<< HEAD

    }

    .strenght {
        margin-bottom: 42.68px;

}
}
=======
    }
}

>>>>>>> main
.subtitle-advantages {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 8px;
    text-align: left;
}

@media screen and (min-width: 1440) {
<<<<<<< HEAD
.subtitle-advantages {
    font-size: 32px;
    margin-bottom: 24px;
}
=======
    .subtitle-advantages {
        font-size: 32px;
        margin-bottom: 24px;
    }
>>>>>>> main
}

.subtitle-advantages-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    text-align: left;
<<<<<<< HEAD
}










=======
}
>>>>>>> main
