.assortment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 32px 16px;
    font-family: "Comfortaa", sans-serif;
}

.assortment {

    gap: 48px;
}

.assortment-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.assortment-li {
    width: 288px;
    min-width: 200px;
    text-align: center;
}

.assortment img {
    border-radius: 32px;

}

.assortment-div {
    width: 288px;
    padding: 16px 0;

}

.assortment-sub {
    font-family: "Fira", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0;
    padding-bottom: 8px;
}

.assortment-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
}

.assortment-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0;
    padding-top: 8px;
    padding-bottom: 16px;
}

.assortment-button {
    display: block;

    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    border-radius: 6px;
    height: 40px;
    align-items: center;
    width: 288px;
    min-width: 288px;
    cursor: pointer;
    border: 1px solid #030A06;
    background-color: transparent;
}