.assortment {
    padding: 32px 0;
}

.assortment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 32px 16px;
    font-family: "Comfortaa", sans-serif;
}

.assortment-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    font-family: 'Fira sans', sans-serif;
}

.assortment-li {
    width: 288px;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.assortment img {
    border-radius: 32px;
}

.assortment-div {
    width: 288px;
    margin: 16px 0;
}

.assortment-sub {
    font-family: 'Fira sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0;
}

.assortment-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
}

.assortment-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0;
    padding-top: 8px;
}

.assortment-button {
    display: block;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    border-radius: 6px;
    height: 40px;
    align-items: center;
    width: 288px;
    min-width: 288px;
    cursor: pointer;
    border: 1px solid #030A06;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .assortment {
        padding: 64px 0;
    }

    .assortment-title {
        padding-top: 0px;
    }

    .assortment-ul {
        gap: 48px 24px;
        justify-content: center;
    }

    .assortment-li {
        width: 340px;
    }

    .assortment-div {
        width: 340px;
        height: 113px;
    }

    ul li:nth-child(7) .assortment-div,
    ul li:nth-child(8) .assortment-div {
        height: 91px;
    }

    .assortment img {
        border-radius: 32px;
        width: 340px;
        пше
    }

    .assortment-button {
        width: 340px;
    }
}

@media screen and (min-width: 1440px) {

    .assortment-title {
        font-size: 48px;
        padding: 0 0 32px 0;
        font-family: "Comfortaa", sans-serif;
    }

    .assortment-ul {
        gap: 64px 24px;
        justify-content: center;
    }

    .assortment-li {
        width: 310px;
    }

    .assortment-div {
        width: 310px;
        height: 113px;
    }

    ul li:nth-child(5) .assortment-div,
    ul li:nth-child(8) .assortment-div {
        margin-top: 27px;
        margin-bottom: 5px;
        height: 113px;
    }

    ul li:nth-child(7) .assortment-div {
        height: 113px;
    }

    .assortment img {
        width: 310px;
    }

    .assortment-button {
        width: 310px;
    }
}