/* Базові стилі для Mobile (320px — 767px) */
.container {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

}

/* Стилі для Tablet (768px - 1439px) */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Стилі для Desktop (1440px і більше) */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}