body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #ebf8ed;
  color: #030a06;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
/* header mobile */
.page-footer {
  padding: 48px 0;
  background-color: #75d281;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-logo {
  margin-right: auto;
  margin-left: auto;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-item {
  line-height: 1.6;
  color: #030a06;
  line-height: 1.6;
  color: #030a06;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.icons-item {
  width: 32px;
  height: 32px;
}

.icons-svg {
  fill: #000;
}

.footer-divider {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(3, 10, 6, 0.15);
  width: 88%;
  height: 0px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-style: normal;
  padding: 24px 0;
}

.contacts-item {
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 16px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.footer-copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
  text-align: center;
}
/* footer-tablet  */
@media screen and (min-width: 768px) {
  .page-footer {
    padding: 64px 0;
  }
}
