.gallery {
}
.container {
}
.gallery-title {
}
.gallery-text {
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  height: 1062px;

  flex-direction: column;
  gap: 24px;
}

.gallery-item {
  max-width: calc((100% - 24px) / 2);
}

.gallery-item--4 {
  order: 1;
}
.gallery-item--3 {
  order: 2;
}
.gallery-item--2 {
  order: 3;
}
.gallery-item--1 {
  order: 4;
}

.gallery-item-picture {
}
