.gallery {
  padding: 32px 16px;
  background-color: #ebf8ed;
  text-align: center;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}

.gallery-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-photo {
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.gallery-item-picture {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@media (min-width: 768px) {
  .gallery {
    padding: 64px 32px;
  }

  .gallery-title {
    max-width: none;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    height: 1062px;
    flex-direction: column;
    gap: 24px;
  }

  .gallery-item {
    max-width: calc((100% - 24px) / 2);
  }

  .gallery-item--4 {
    order: 1;
    height: 338px;
  }
  .gallery-item--3 {
    order: 2;
    height: 700px;
  }
  .gallery-item--2 {
    order: 3;
    height: 700px;
  }
  .gallery-item--1 {
    order: 4;
    height: 338px;
  }

  .photo--young-woman {
    height: 338px;
    object-fit: cover;
  }

  .photo--walker {
    height: 700px;
    object-fit: cover;
  }

  .photo--city-scene {
    height: 700px;
    object-fit: cover;
  }

  .photo--eco-tote {
    height: 338px;
    object-fit: cover;
  }
}

@media (min-width: 1440px) {
  .gallery {
    padding: 80px 16px;
  }

  .gallery-list {
    gap: 24px 24px;
    height: 865px;
  }

  .gallery-item {
    max-width: calc((100% - 48px) / 3);
  }

  .gallery-item--4 {
    order: 1;
    height: 421px;
  }

  .gallery-item--3 {
    order: 4;
  }

  .gallery-item--2 {
    order: 3;
  }
  .gallery-item--1 {
    order: 2;
  }

  .photo--young-woman {
    height: 421px;
    object-fit: cover;
  }

  .photo--walker {
    height: 865px;
    object-fit: cover;
  }

  .photo--city-scene {
    height: 865px;
    object-fit: cover;
  }

  .photo--eco-tote {
    height: 421px;
    object-fit: cover;
  }
}
