.gallery {
  padding: 32px 16px;
  background-color: #ebf8ed;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.gallery-item {
  display: flex;
  justify-content: center;
}

.gallery-item-picture {
  display: block;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 100%;
}
