.hero-section {
  padding: 40px 0;
  background-color: #EBF8ED; 
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-title {
  font-family:"Comfortaa", sans-serif; 
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #030A06; 
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  color: #030A06; 
  max-width: 320px;
}

.hero-button {
  display: inline-block;
  padding: 14px 24px;
  background-color: #030A06; 
  color: #FFFFFF;            
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.25s ease;
  width: 100%;
  text-align: center;
}

.hero-button:hover {
  opacity: 0.85;
}

.hero-image-wrapper {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .hero-container {
    justify-content: space-between;
    gap: 40px;
  }
  .hero-content{
    display: flex;
  }

  .hero-title {
    font-size: 40px;
    flex-direction: row;
  }

  .hero-text {
    font-size: 18px;
    max-width: 380px;
    flex-direction: column;
  }
  .hero-button{
    max-width: 148px;
    font-size: 15px;

  }
  .hero-content {
    max-width: 50%;
  }

  .hero-image-wrapper {
    max-width: 704px;
    border-radius: 40px;
  }
}

@media (min-width: 1440px) {
  .hero-section {
    padding: 80px 0;
  }

  .hero-title {
    font-size: 52px;
  }

  .hero-text {
    font-size: 20px;
    max-width: 420px;
  }

  .hero-image-wrapper {
    border-radius: 40px;
  }
}
