.hero-section {
  padding: 64px 0;
  background-color: #EBF8ED; 
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Увеличил для телефона */
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  font-family:"Comfortaa", sans-serif; 
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #030A06;
  margin-bottom: 0;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-text {
  font-size: 16px;
  color: #030A06; 
  max-width: 288px;
  font-family: "Fira-Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
}

.hero-button {
  font-family: "Fira-Sans", sans-serif;
  display: inline-block;
  padding: 12px 24px;
  background-color: #030A06; 
  color: #FFFFFF;            
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
  transition: 0.25s ease;
  width: 100%; 
  max-width: 288px; 
  text-align: center;
}

.hero-button:hover {
  opacity: 0.85;
  background-color: #030A06;
}
.hero-button:focus{
    background-color: #113916;
}
.hero-button:disabled{
    background-color: #030A06;
}

.hero-image-wrapper {
  width: 100%;
  border-radius: 40px;
  overflow: hidden; /* Добавил чтобы картинка не выходила за скругленные углы */
}

.hero-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

/* Планшетная версия */
@media (min-width: 768px) {
  .hero-section {
    padding: 32px 0;
  }
  
  .hero-container {
    gap: 20px;
  }
  
  .hero-content {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    max-width: 100%;
  }
  
  .hero-title {
    font-size: 40px;
    flex: 1;
    min-width: 340px;
  }
  
  .hero-text-wrapper {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
  
  .hero-text {
    font-size: 18px;
    max-width: 340px;
  }
  
  .hero-button {
    width: auto;
    max-width: none;
    min-width: 148px; 
    padding: 14px 28px;
  }
  
  .hero-image-wrapper {
    border-radius: 40px;
  }
}

/* Десктопная версия */
@media (min-width: 1440px) {
  .hero-section {
    padding: 32px 0;
  }

  .hero-container {
    flex-direction: column;
    gap: 32px;
  }
  
  .hero-content {
    gap: 32px;
  }
  
  .hero-title {
    font-size: 56px;
    flex: 1;
    max-width: 640px; 
  }
  
  .hero-text-wrapper {
    flex: 1;
    min-width: 300px;
    gap: 32px;
  }
  
  .hero-text {
    font-size: 18px;
    max-width: 640px;
  }
  
  .hero-button {
    min-width: 160px;
    padding: 16px 32px;
    font-size: 16px;
  }
  
  .hero-image-wrapper {
    border-radius: 40px;
  }
}