.container{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width:768px){
   .container{
    max-width: 768px;
    padding: 0 15px;
   } 
}
@media screen and (min-width:1440px) {
    .container {
    max-width: 1440px;
    padding: 0 15px;
    }
}
