/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./advantages.css');
@import url('./assortment.css');
@import url('./gallery.css');
@import url('./feedbacks.css');
@import url('./support.css');
@import url('./footer.css');

/* Шрифт */
body {
  font-family: 'Fira Sans', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}
