/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./header.css');
@import url('./hero.css');
@import url('./assortment.css');
@import url('./gallery.css');
@import url('./reviews.css');
@import url('./feedback.css');
@import url('./footer.css');
@import url('./reset.css');
@import url('./container.css');
