.support-section {
  padding: 32px 0;
}
.support-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 24px;
}
.support-subtitle {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 32px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.form-label {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  display: block;
  margin-bottom: 8px;
}

.input {
  display: block;
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 288px;
  height: 42px;
  background-color: rgba(3, 10, 6, 0.05);
}
.input-name {
}
.input-email {
}
.input-message {
  min-height: 180px;
}
.btn {
}
.btn-submit {
}
.support-img {
}
