.support-section {
  padding: 32px 0;
}
.support-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 24px;
}
.support-subtitle {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 32px;
}
.support-form {
  margin-bottom: 24px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.form-label {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  display: block;
  margin-bottom: 8px;
}

.input {
  display: block;
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 12px;

  background-color: rgba(3, 10, 6, 0.05);
}
.input-name {
}
.input-email {
}
.input-message {
  min-height: 180px;
}
.btn {
}
.btn-submit {
  margin: 0 auto;
  display: block;
  border: 1px solid #030a06;
  border-radius: 6px;

  width: 288px;
  height: 50px;
  background: #030a06;

  font-family: var(--font-family);
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
}

.support-img {
  margin: 0 auto;

  height: 428px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  background-image: url(../img/support/support-img-mob-x1-min.jpg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .support-img {
    background-image: url(../img/support/support-img-tablet-x1-min.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .support-img {
    background-image: url(../img/support/support-img-desktop-x1-min.jpg);
  }
}
/* зображення 2х*/
@media screen and (min-resolution: 192dpi) {
  .support-img {
    background-image: url(../img/support/support-img-mob-x2-min.jpg);
  }
  @media (min-width: 768px) {
    .support-img {
      background-image: url(../img/support/support-img-tablet-x2-min.jpg);
    }
  }

  @media (min-width: 1158px) {
    .support-img {
      background-image: url(../img/support/support-img-desktop-x2-min.jpg);
    }
  }
}
